<div class="board-information">
  <h2 class="board-title">ー 投稿時の注意事項 ー</h2>
  <div class="field-area">
    <div class="guidance">
      ・個人情報を特定されるような内容は記入しないでください。<br>
      ・迷惑行為目的と判断した投稿は削除させていただきます。<br>
      <div class="guidance-sub">
      ・連絡先の記載、金銭の要求、誹謗中傷、誘拐など
      </div>
      ・特徴をできるだけ詳しく記載する<br>
      <div class="guidance-sub">
        ・見かけた人が特定しやすくなります。<br>
        ・わかる限りの情報を書きましょう。<br>
        ・種類、毛色、大きさ、性別、特徴的な模様や傷など<br>
      </div>
      ・最後に見かけられた場所や状況を記載する<br>
      <div class="guidance-sub">
        ・見つけるヒントになる可能性があります。<br>
        ・どんな状況だったのかなどを書きましょう。<br>
        ・どこで、いつ、誰と一緒にいたのか
      </div>
      ・誤った情報を記載しない
    </div>
    <div class="board-actions">
      <%= link_to "同意して投稿する", new_protect_path, class:'board-button' %>
    </div>
  </div>
</div>
