<% provide(:title, "投稿する") %>
<div class="top-information">
  <%= image_tag 'information.png', class: 'info-logo' %>

  <%= link_to information_ambles_path, class:'info-amble-link' do %>
    <i class="fa-solid fa-pen"></i>探しています
  <% end %>

  <%= link_to information_protects_path, class:'info-protect-link' do %>
    <i class="fa-solid fa-pen"></i>保護しました
  <% end %>

  <%= link_to information_sightings_path, class:'info-sighting-link' do %>
    <i class="fa-solid fa-pen"></i>目撃しました
  <% end %>
</div>
