/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: ヒラギノ丸ゴ Pro, sans-serif;
  color: #545353;
}

a,
input,
button {
  cursor: pointer;
}

ol,
ul {
  list-style: none;
}

.main-wrapper {
  position: fixed;
  background-color: #BFCCB5;
  width: 100%;
  height: 100vh;
}

/* ---header--- */
.header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 18%;
  height: 100vh;
  background: #B7B7B7;
  box-sizing: border-box;
  border-right: 1px solid #545353;
}

.header-logo {
  width: 100%;
  display: block;
}

.header-icon {
  display: none;
}

.header-menu {
  display: flex;
  flex-flow: column;
  margin-top: 20px;
  margin-left: 10px;
  line-height: 50px;
}

.menu-logo {
  width: 15%;
}

.header-link {
  text-decoration: none;
  color: #545353;
  font-size: 130%;
}

.header-link:hover {
  color: #f2eded;
  transition: 0.5s;
}

.header-item {
  vertical-align: +20%;
}

.ham-menu #ham-button {
  display: none;
}

@media screen and (max-width:1024px) {
  .header-logo {
    display: none;
  }

  .header-icon {
    display: block;
    width: 100%;
  }

  .header {
    width: 7%;
  }

  .menu-logo {
    width: 80%;
  }

  .header-item {
    display: none;
  }

  .header-menu {
    margin-left: 5px;
    line-height: 40px;
  }
}

@media screen and (max-width:600px) {
  .header {
    width: 100%;
    height: 50px;
    /* border-right: none; */
    border: 1px solid #545353;
  }

  .header-icon {
    width: 13%;
    margin-top: 2px;
    margin-left: auto;
    margin-right: auto;
  }

  .menu-logo {
    width: 20%;
    float: left;
    clear: both;
  }

  .header-item {
    display: block;
    line-height: 50px;
  }

/* --- hamburger menu --- */

  .ham-menu {
    position: absolute;
    top: 5px;
    left: 5px;
    display: inline-block;
  }

  /* menu */
  .ham-menu .ham-item {
    position: fixed;
    top: 0;
    left: -100vw;
    width: 250px;
    height: 100vh;
    transition: 0.53s transform;
    transition-timing-function: cubic-bezier(.38, .52, .23, .99);
    background-color: #EDC6B1;
    opacity: 0.8;
    /* border: 5px solid #f6f3f3; */
    border: 3px solid #545353c2;
  }

  .ham-menu .ham-item li {
    margin: 10px;
  }

  .ham-menu #ham-button {
    position: absolute;
    display: none;
    opacity: 0;
  }

  .ham-menu #ham-button:checked~.ham-item {
    transform: translateX(100vw);
  }

  /* menu toggle */
  .ham-menu #ham-button~label {
    display: block;
    position: fixed;
      top: 23px;
      left: 15px;
    transition: 0.5s transform;
    transition-timing-function: cubic-bezier(.61, -0.38, .37, 1.27);
    color: #545353;
    z-index: 90;
  }

  .ham-btn span,
  .ham-btn span:before,
  .ham-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #545353;
    position: absolute;
  }

  .ham-btn span:before {
    bottom: 8px;
  }

  .ham-btn span:after {
    top: 8px;
  }

  .ham-menu #ham-button:checked~label {
    transform: translateX(250px);
  }

  #ham-btn-check:checked~.ham-btn span {
    background-color: rgba(255, 255, 255, 0);
  }

  #ham-btn-check:checked~.ham-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
  }

  #ham-btn-check:checked~.ham-btn span::after {
    top: 0;
    transform: rotate(-45deg);
  }
}

/* ---devise関連--- */
.devise-title {
  text-align: center;
}

.devise-form {
  margin-left: 25%;
  margin-top: 30px;
  width: 40%;
  height: 400px;
  background-color: rgba(255, 248, 242, 0.311);
  border: solid 2px #7C96AB;
  border-radius: 20px;
  padding: 20px;
}

.input-form {
  width: 70%;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  box-sizing: border-box;
  margin: 12px 0;
  transition: 0.3s;
  outline: none;
  border: solid 1px #e0e0e0;
  border-radius: 5px;
  padding: 8px;
  font-size: 15px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  border-color: #7C96AB;
}

.actions {
  text-align: center;
}

input[type="submit"] {
  background: #7C96AB;
  border: solid 2px #576a79;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 10px;
}

button {
  background: #aaa;
  border: none;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 10px;
}

i::before {
  content: "\f007";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  margin: 0 25px;
}

@media screen and (max-width:1024px) {
  .devise-title {
    font-size: 15px;
  }

  .devise-form {
    margin-top: 5px;
    margin-left: 80px;
    width: 60%;
    height: 374px;
  }
}

@media screen and (max-width:600px) {
  .devise-form {
    margin-top: 70px;
    margin-left: 10px;
    width: 95%;
    height: 450px;
  }

  button {
    margin-top: 10px;
  }
}
