/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  outline: 0;
  margin: 0;
  padding: 0;
  font-family: ヒラギノ丸ゴ Pro, sans-serif;
}

.main-wrapper {
  position: fixed;
  background-color: #BFCCB5;
  width: 100%;
  height: 760px;
}

/* ---header--- */
.header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 18%;
  height: 760px;
  background: #B7B7B7;
  box-sizing: border-box;
  border-right: 1px solid #545353;
}

.header-logo {
  width: 100%;
}

.header-menu {
  display: flex;
  flex-flow: column;
  margin-top: 20px;
  margin-left: 10px;
  line-height: 50px;
}

.menu-logo {
  width: 15%;
}

.header-link {
  text-decoration: none;
  color: #545353;
  font-size: 130%;
}

.header-link:hover {
  color: #f2eded;
  transition: 0.5s;
}

.header-item {
  vertical-align: +20%;
}
