<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>
  <body>
    <div class='main-wrapper'>
      <%= render 'layouts/header' %>
      <%= yield %>
    </div>
    <%= javascript_importmap_tags %>
  </body>
</html>
